/*
* Euxener Colemak-DH base keyboard layout
* Version 2.0
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

// Key position groups for bilateral mods or home row mods
#define KEYS_L 0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 46 47 48 49 50 51 60 61 62 63 64
#define KEYS_R 7 8 9 10 11 12 13 21 22 23 24 25 26 27 39 40 41 42 43 44 45 54 55 56 57 58 59 71 72 73 74 75
#define THUMBS 35 36 37 38 52 53 65 66 67 68 69 70

/ {
    behaviors {

#include "macros.dtsi"
#include "version.dtsi"

hml: homerow_mods_left {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <100>;
    flavor = "balanced";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
};

hmr: homerow_mods_right {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <100>;
    flavor = "balanced";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
};

td_caps: tap_dance_caps {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&none>, <&kp CAPS>;
};
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base (Colemak-DH)";
            bindings = <
                &kp EQUAL &kp N1       &kp N2      &kp N3      &kp N4       &kp N5 &tog 1                                                      &mo 3     &kp N6 &kp N7       &kp N8      &kp N9      &kp N0          &kp MINUS
                &kp TAB   &kp Q        &kp W       &kp F       &kp P        &kp B  &kp HOME                                                    &kp END   &kp J  &kp L        &kp U       &kp Y       &kp SEMI        &kp BSLH
                &kp ESC   &hml LCTRL A &hml LALT R &hml LGUI S &hml LSHFT T &kp G  &kp PG_UP          &mo 4   &mo 5 &mo 5 &mo 4                &kp PG_DN &kp M  &hmr RSHFT N &hmr RGUI E &hmr RALT I &hmr RCTRL O    &kp SQT
                &kp LSHFT &kp Z        &kp X       &kp C       &kp D        &kp V                             &mo 6 &mo 6                                &kp K  &kp H        &kp COMMA   &kp DOT     &kp FSLH        &kp RSHFT
                &kp LCTRL &kp GRAVE    &td_caps    &kp LEFT    &kp RIGHT                     &kp BSPC &kp DEL &mo 2 &mo 2 &kp ENTER &kp SPACE                   &kp UP       &kp DOWN    &kp LBKT    &kp RBKT        &kp RCTRL
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
                &kp EQUAL &kp N1       &kp N2      &kp N3      &kp N4       &kp N5 &trans                                                       &mo 3     &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
                &kp TAB   &kp Q        &kp W       &kp F       &kp P        &kp B  &kp HOME                                                     &kp END   &kp J  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
                &kp ESC   &hml LCTRL A &hml LALT R &hml LGUI S &hml LSHFT T &kp G  &kp PG_UP          &mo 4   &mo 5  &mo 5  &mo 4               &kp PG_DN &kp M  &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &kp SQT
                &kp LSHFT &kp Z        &kp X       &kp C       &kp D        &kp V                             &mo 6  &mo 6                                &kp K  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
                &kp LCTRL &kp GRAVE    &td_caps    &kp LEFT    &kp RIGHT                     &kp BSPC &kp DEL &mo 2  &mo 2  &kp ENTER &kp KP_N0                  &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &kp RCTRL
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
                &kp F1 &kp F2            &kp F3           &kp F4           &kp F5            &kp F6 &tog 1                                           &mo 3 &kp F7        &kp F8       &kp F9       &kp F10        &kp F11          &kp F12
                &trans &trans            &trans           &trans           &trans            &trans &none                                            &none &kp C_AL_CALC &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP   &kp C_BRI_DN     &kp C_BRI_UP
                &trans &trans            &trans           &trans           &trans            &trans &none         &trans &trans &trans &trans        &none &trans        &trans       &trans       &trans         &trans           &trans
                &trans &Win_Lock_PC      &trans           &Win_Snip_Tool   &trans            &trans                      &trans &trans                     &trans        &kp C_PREV   &kp C_PP     &kp C_NEXT     &Mac_Snip_Tool   &Mac_Lock_PC
                &trans &trans            &trans           &trans           &trans                          &trans &trans &trans &trans &trans &trans                     &trans       &trans       &trans         &trans           &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
                &none          &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans       &none &none      &none      &none &none &none
                &none          &none        &none        &none        &none        &none        &bootloader                                                               &bootloader  &none &none      &none      &none &none &none
                &studio_unlock &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &stp STP_BAT &none &none      &none      &none &none &none
                &none          &none        &none        &none        &macro_ver   &none                                      &none &none                                              &none &none      &none      &none &none &none
                &none          &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                    &bl BL_INC &bl BL_DEC &none &none &none
            >;
        };

        symbol {
            display-name = "Symbol";
            bindings = <
                &trans &kp EXCL      &kp AT         &kp HASH      &kp DLLR      &kp PRCNT       &trans                                              &trans &macro_caret &kp AMPS         &kp ASTRK     &kp UNDER           &kp PLUS             &trans
                &trans &macro_quotes &macro_dquotes &macro_parens &macro_braces &macro_brackets &none                                               &none  &macro_arrow &macro_fat_arrow &macro_scope  &macro_line_comment &macro_block_comment &trans
                &trans &macro_angles &macro_grave   &macro_tilde  &kp LS(BSLH)  &kp BSLH        &none           &trans &trans &trans &trans         &none  &macro_eq    &macro_neq       &macro_lte    &macro_gte          &macro_and           &trans
                &trans &trans        &trans         &trans        &trans        &trans                                 &trans &trans                       &macro_or    &kp LS(MINUS)    &kp LS(COMMA) &kp LS(DOT)         &kp LS(FSLH)         &trans
                &trans &trans        &trans         &trans        &trans                                 &trans &trans &trans &trans &trans &trans                      &trans           &trans        &trans              &trans               &trans
            >;
        };

        excel {
            display-name = "Excel";
            bindings = <
                &trans &mcb_num_cycle      &mcb_pct_cycle     &mcb_mult_cycle      &mcb_date_cycle      &mcb_anchor_cycle &trans                                                         &trans         &trans          &mcb_outside_borders &mcb_inside_borders &trans              &mcb_export_match_none &trans
                &trans &mcb_uniformulas    &trans             &mcb_paste_numfmt    &mcb_delete_row      &mcb_insert_row   &mcb_zoom_in                                                   &mcb_zoom_out  &mcb_insert_col &mcb_delete_col      &mcb_paste_exact    &mcb_binary_cycle   &mcb_blue_black        &trans
                &trans &mcb_autocolor      &mcb_fill_right    &mcb_quick_save      &mcb_activate_sheet  &mcb_expand_grp   &mcb_row_height        &trans &trans &trans &trans             &mcb_col_width &mcb_vert_cycle &mcb_flip_sign       &mcb_error_wrap     &mcb_insert_note    &trans                 &mcb_color_cycle
                &trans &mcb_smart_print    &mcb_super_find    &mcb_center_cycle    &mcb_fill_down       &mcb_paste_insert                               &trans &trans                                   &mcb_fill_cycle &mcb_horiz_cycle     &mcb_inc_dec        &mcb_dec_dec        &mcb_shift_dec_right   &trans
                &trans &mcb_shift_dec_left &trans             &mcb_left_border     &mcb_right_border                                      &trans &trans &trans &trans &trans &trans                                     &mcb_top_border      &mcb_bottom_border  &mcb_pro_precedents &mcb_pro_dependents    &trans
            >;
        };

        spanish {
            display-name = "Spanish";
            bindings = <
                &trans &macro_spanish_exclaim &trans &trans &trans &trans &trans                                                       &trans &trans &trans         &trans            &trans             &trans                  &trans
                &trans &trans                 &trans &trans &trans &trans &none                                                        &none  &trans &trans         &macro_u_acute    &macro_u_diaeresis &trans                  &trans
                &trans &macro_a_acute         &trans &trans &trans &trans &none           &trans &trans &trans &trans                  &none  &trans &macro_n_tilde &macro_e_acute    &macro_i_acute     &macro_o_acute          &trans
                &trans &trans                 &trans &trans &trans &trans                        &trans &trans                                &trans &trans         &macro_guillemets &trans             &macro_spanish_question &trans
                &trans &trans                 &trans &trans &trans                 &trans &trans &trans &trans &trans &trans                         &trans         &trans            &trans             &trans                  &trans
            >;
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
