/*
 * Euxener QWERTY base keyboard layout
 * Version 2.0
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

// Key position groups for bilateral mods or home row mods
#define KEYS_L 0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 46 47 48 49 50 51 60 61 62 63 64
#define KEYS_R 7 8 9 10 11 12 13 21 22 23 24 25 26 27 39 40 41 42 43 44 45 54 55 56 57 58 59 71 72 73 74 75
#define THUMBS 35 36 37 38 52 53 65 66 67 68 69 70

/ {
    behaviors {

#include "macros.dtsi"
#include "version.dtsi"

hml: homerow_mods_left {
    compatible = "zmk,behavior-hold-tap";
    label = "HOMEROW_MODS_LEFT";
    #binding-cells = <2>;
    tapping-term-ms = <280>;
    quick_tap_ms = <175>;
    require-prior-idle-ms = <150>;
    flavor = "balanced";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
};

hmr: homerow_mods_right {
    compatible = "zmk,behavior-hold-tap";
    label = "HOMEROW_MODS_RIGHT";
    #binding-cells = <2>;
    tapping-term-ms = <280>;
    quick_tap_ms = <175>;
    require-prior-idle-ms = <150>;
    flavor = "balanced";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
};
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base (QWERTY)";
            bindings = <
                &kp EQUAL &kp N1       &kp N2      &kp N3      &kp N4       &kp N5 &tog 1                                                           &mo 3 &kp N6 &kp N7       &kp N8      &kp N9      &kp N0          &kp MINUS
                &kp TAB   &kp Q        &kp W       &kp E       &kp R        &kp T  &none                                                            &none &kp Y  &kp U        &kp I       &kp O       &kp P           &kp BSLH
                &kp ESC   &hml LCTRL A &hml LALT S &hml LGUI D &hml LSHFT F &kp G  &none               &mo 4   &mo 5    &mo 5     &mo 4             &none &kp H  &hmr RSHFT J &hmr RGUI K &hmr RALT L &hmr RCTRL SEMI &kp SQT
                &kp LSHFT &kp Z        &kp X       &kp C       &kp V        &kp B                              &mo 6    &kp PG_UP                         &kp N  &kp M        &kp COMMA   &kp DOT     &kp FSLH        &kp RSHFT
                &mo 2     &kp GRAVE    &kp CAPS    &kp LEFT    &kp RIGHT                      &kp BSPC &kp DEL &kp END  &kp PG_DN &kp ENTER &kp SPACE            &kp UP       &kp DOWN    &kp LBKT    &kp RBKT        &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
                &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans                                                           &mo 3 &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
                &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
                &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &mo 4     &mo 5    &mo 5     &mo 4               &none &kp H  &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &kp SQT
                &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &mo 6    &kp PG_UP                           &kp N  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
                &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp KP_N0              &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5         &kp F6 &tog 1                                                   &mo 3 &kp F7        &kp F8       &kp F9       &kp F10        &kp F11      &kp F12
                &trans &trans &trans &trans &trans         &trans &none                                                    &none &kp C_AL_CALC &trans       &kp C_BRI_DN &kp C_BRI_UP   &trans       &trans
                &trans &Win_Lock_PC  &trans &Win_Snip_Tool &trans &trans &none        &trans &trans   &trans &trans        &none &kp C_MUTE    &kp C_VOL_DN &kp C_VOL_UP &Mac_Snip_Tool &Mac_Lock_PC &trans
                &trans &trans &trans &trans &trans         &trans                            &kp HOME &trans                     &trans        &kp C_PREV   &kp C_PP     &kp C_NEXT     &trans       &trans
                &trans &trans &trans &trans &trans                             &trans &trans &trans   &trans &trans &trans                     &trans       &trans       &trans         &trans       &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
                &none          &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans       &none &none      &none      &none &none &none
                &none          &none        &none        &none        &none        &none        &bootloader                                                               &bootloader  &none &none      &none      &none &none &none
                &studio_unlock &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &stp STP_BAT &none &none      &none      &none &none &none
                &none          &none        &none        &none        &macro_ver   &none                                      &none &none                                              &none &none      &none      &none &none &none
                &none          &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                    &bl BL_INC &bl BL_DEC &none &none &none
            >;
        };

        symbol {
            display-name = "Symbol";
            bindings = <
                /* Row 0 - same as Colemak version */
                &trans &kp EXCL      &kp AT         &kp HASH      &kp DLLR      &kp PRCNT       &trans                                              &trans &macro_caret &kp AMPS         &kp ASTRK     &kp UNDER           &kp PLUS             &trans
                &trans &macro_quotes &macro_dquotes &macro_parens &macro_braces &macro_brackets &none                                               &none  &macro_arrow &macro_fat_arrow &macro_scope  &macro_line_comment &macro_block_comment &trans
                &trans &macro_angles &macro_grave   &macro_tilde  &kp LS(BSLH)  &kp BSLH        &none           &trans &trans &trans &trans         &none  &macro_eq    &macro_neq       &macro_lte    &macro_gte          &macro_and           &trans
                &trans &trans        &trans         &trans        &trans        &trans                                 &trans &trans                       &macro_or    &kp LS(MINUS)    &kp LS(COMMA) &kp LS(DOT)         &kp LS(FSLH)         &trans
                &trans &trans        &trans         &trans        &trans                                 &trans &trans &trans &trans &trans &trans                      &trans           &trans        &trans              &trans               &trans
            >;
        };

        excel {
            display-name = "Excel";
            bindings = <
                // Placeholder - add Macabacus/Excel shortcuts later
                &trans &trans &trans &trans &trans &trans &trans                                                       &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &none                                                        &none  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &none           &trans &trans &trans &trans                  &none  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans                        &trans &trans                                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans                 &trans &trans &trans &trans &trans &trans                         &trans &trans &trans &trans &trans
            >;
        };

        spanish {
            display-name = "Spanish";
            bindings = <
                // Row 0: ¡ on 1 position (same as Colemak)
                &trans &macro_spanish_exclaim &trans          &trans &trans &trans &trans                                                       &trans &trans &trans         &trans            &trans             &trans                  &trans
                // Row 1: QWERTY vowels - E on E position, U I O on right top row, ü on Y
                &trans &trans                 &trans          &macro_e_acute &trans &trans &none                                                &none  &macro_u_diaeresis &macro_u_acute &macro_i_acute &macro_o_acute &trans &trans
                // Row 2: á on A position (same), rest transparent
                &trans &macro_a_acute         &trans          &trans &trans &trans &none           &trans &trans &trans &trans                  &none  &trans &trans         &trans            &trans             &trans                  &trans
                // Row 3: ñ on N position (QWERTY), «» on comma, ¿? on /
                &trans &trans                 &trans          &trans &trans &trans                        &trans &trans                                &macro_n_tilde &trans &macro_guillemets &trans &macro_spanish_question &trans
                // Row 4: Thumb row
                &trans &trans                 &trans          &trans &trans                 &trans &trans &trans &trans &trans &trans                         &trans         &trans            &trans             &trans                  &trans
            >;
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
