Win_Cut: Windows_Cut {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(X)>;
    display-name = "Windows Cut";
};

Win_Copy: Windows_Copy {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(C)>;
    display-name = "Windows Copy";
};

Win_Paste: Windows_Paste {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(V)>;
    display-name = "Windows Paste";
};

Win_Select_All: Windows_SelectAll {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(A)>;
    display-name = "Windows Select All";
};

Win_Undo: Windows_Undo {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(Z)>;
    display-name = "Windows Undo";
};

Win_Desktop: Win_Desk {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(D)>;
    display-name = "Windows Desktop";
};

Win_File_Explorer: Win_Explr {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(E)>;
    display-name = "Windows Explorer";
};

Win_Snip_Tool: Win_Snip {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LS(LG(S))>;
    display-name = "Windows Screen Snip";
};

Win_Show_All_Windows: Win_ShowAW {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(TAB)>;
    display-name = "Windows Show All Windows";
};

Mac_Cut: Mac_Cut {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(X)>;
    display-name = "Mac Cut";
};

Mac_Copy: Mac_Copy {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(C)>;
    display-name = "Mac Copy";
};

Mac_Paste: Mac_Paste {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(V)>;
    display-name = "Mac Paste";
};

Mac_Undo: Mac_Undo {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(Z)>;
    display-name = "Mac Undo";
};

Mac_Select_All: Mac_SelAll {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(A)>;
    display-name = "Mac Select All";
};

Mac_Mission_Control: Mac_ShowAW {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(UP_ARROW)>;
    display-name = "Mac Show All Windows";
};

Mac_Snip_Tool: Mac_Snip {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LG(LS(NUMBER_4)))>;
    display-name = "Mac Screen Snip";
};

Win_Close_Program: Win_Close_Program {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LA(F4)>;
    display-name = "Windows Close";
};

Win_Settings_Menu: Win_Settings_Menu {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(I)>;
    display-name = "Windows Settings";
};

Win_Lock_PC: Win_Lock_PC {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(L)>;
    display-name = "Windows Lock";
};

Win_Tile_Left: Win_Tile_Left {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(LEFT)>;
    display-name = "Windows Tile Left";
};

Win_Tile_Up: Win_Tile_Up {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(UP_ARROW)>;
    display-name = "Windows Tile Up";
};

Win_Tile_Down: Win_Tile_Down {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(DOWN)>;
    display-name = "Windows Tile Down";
};

Win_Tile_Right: Win_Tile_Right {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(RIGHT)>;
    display-name = "Windows Tile Right";
};

Mac_Spotlight_Search: Mac_Spotlight_Search {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(SPACE)>;
    display-name = "Mac Spotlight Search";
};

Mac_Close_Program: Mac_Close_Program {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(Q)>;
    display-name = "Mac Close Program";
};

Mac_Strike_Through_Text: Mac_Strike_Through_Text {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(LS(X))>;
    display-name = "Mac Strikethrough Text";
};

Mac_Lock_PC: Mac_Lock_PC {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LG(Q))>;
    display-name = "Mac Lock";
};

Double_Click: Double_Click {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&mkp MB1>, <&mkp MB1>;
    display-name = "Double Click";
};

// ═══════════════════════════════════════════════════════════════
// Paired Delimiter Macros (cursor inside)
// ═══════════════════════════════════════════════════════════════

macro_quotes: macro_quotes {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp SPACE>, <&kp SQT>, <&kp SPACE>, <&kp LEFT>;
    display-name = "Single Quotes";
};

macro_dquotes: macro_dquotes {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp DQT>, <&kp SPACE>, <&kp DQT>, <&kp SPACE>, <&kp LEFT>;
    display-name = "Double Quotes";
};

macro_braces: macro_braces {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
    display-name = "Curly Braces";
};

macro_parens: macro_parens {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
    display-name = "Parentheses";
};

macro_brackets: macro_brackets {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
    display-name = "Brackets";
};

macro_angles: macro_angles {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(COMMA)>, <&kp LS(DOT)>, <&kp LEFT>;
    display-name = "Angle Brackets";
};

// Dead key characters (cancelled with SPACE)
macro_grave: macro_grave {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp GRAVE>, <&kp SPACE>;
    display-name = "Grave Accent";
};

macro_tilde: macro_tilde {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(GRAVE)>, <&kp SPACE>;
    display-name = "Tilde";
};

macro_caret: macro_caret {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp CARET>, <&kp SPACE>;
    display-name = "Caret";
};

// ═══════════════════════════════════════════════════════════════
// Programming Operator Macros
// ═══════════════════════════════════════════════════════════════

macro_arrow: macro_arrow {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp MINUS>, <&kp LS(DOT)>;
    display-name = "Arrow";
};

macro_fat_arrow: macro_fat_arrow {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp EQUAL>, <&kp LS(DOT)>;
    display-name = "Fat Arrow";
};

macro_eq: macro_eq {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp EQUAL>, <&kp EQUAL>;
    display-name = "Equals";
};

macro_neq: macro_neq {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(N1)>, <&kp EQUAL>;
    display-name = "Not Equals";
};

macro_lte: macro_lte {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(COMMA)>, <&kp EQUAL>;
    display-name = "Less or Equal";
};

macro_gte: macro_gte {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(DOT)>, <&kp EQUAL>;
    display-name = "Greater or Equal";
};

macro_and: macro_and {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(N7)>, <&kp LS(N7)>;
    display-name = "Logical AND";
};

macro_or: macro_or {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(BSLH)>, <&kp LS(BSLH)>;
    display-name = "Logical OR";
};

macro_scope: macro_scope {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(SEMI)>, <&kp LS(SEMI)>;
    display-name = "Scope";
};

macro_line_comment: macro_line_comment {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp FSLH>, <&kp FSLH>, <&kp SPACE>;
    display-name = "Line Comment";
};

macro_block_comment: macro_block_comment {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp FSLH>, <&kp LS(N8)>, <&kp SPACE>, <&kp LS(N8)>, <&kp FSLH>, <&kp LEFT>, <&kp LEFT>;
    display-name = "Block Comment";
};

// ═══════════════════════════════════════════════════════════════
// Spanish Character Macros (US-International dead key method)
// ═══════════════════════════════════════════════════════════════

// Accented vowels using dead key method (apostrophe ' is acute dead key)
macro_a_acute: macro_a_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp A>;
    display-name = "á";
};

macro_e_acute: macro_e_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp E>;
    display-name = "é";
};

macro_i_acute: macro_i_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp I>;
    display-name = "í";
};

macro_o_acute: macro_o_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp O>;
    display-name = "ó";
};

macro_u_acute: macro_u_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp U>;
    display-name = "ú";
};

// ü using diaeresis dead key (Shift+' = " is diaeresis dead key)
macro_u_diaeresis: macro_u_diaeresis {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(SQT)>, <&kp U>;
    display-name = "ü";
};

// ñ using tilde dead key (Shift+` = ~ is tilde dead key)
macro_n_tilde: macro_n_tilde {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(GRAVE)>, <&kp N>;
    display-name = "ñ";
};

// Paired Spanish punctuation (cursor inside)
// macOS: Option+Shift+/ = ¿, Option+1 = ¡, Option+\ = «, Option+Shift+\ = »
macro_spanish_question: macro_spanish_question {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LA(LS(FSLH))>, <&kp LS(FSLH)>, <&kp LEFT>;
    display-name = "Spanish Question";
};

macro_spanish_exclaim: macro_spanish_exclaim {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LA(N1)>, <&kp LS(N1)>, <&kp LEFT>;
    display-name = "Spanish Exclaim";
};

macro_guillemets: macro_guillemets {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LA(BSLH)>, <&kp LA(LS(BSLH))>, <&kp LEFT>;
    display-name = "Spanish Quotes";
};
