Win_Cut: Windows_Cut {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(X)>;
    display-name = "Windows Cut";
};

Win_Copy: Windows_Copy {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(C)>;
    display-name = "Windows Copy";
};

Win_Paste: Windows_Paste {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(V)>;
    display-name = "Windows Paste";
};

Win_Select_All: Windows_SelectAll {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(A)>;
    display-name = "Windows Select All";
};

Win_Undo: Windows_Undo {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(Z)>;
    display-name = "Windows Undo";
};

Win_Desktop: Win_Desk {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(D)>;
    display-name = "Windows Desktop";
};

Win_File_Explorer: Win_Explr {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(E)>;
    display-name = "Windows Explorer";
};

Win_Snip_Tool: Win_Snip {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LS(LG(S))>;
    display-name = "Windows Screen Snip";
};

Win_Show_All_Windows: Win_ShowAW {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(TAB)>;
    display-name = "Windows Show All Windows";
};

Mac_Cut: Mac_Cut {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(X)>;
    display-name = "Mac Cut";
};

Mac_Copy: Mac_Copy {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(C)>;
    display-name = "Mac Copy";
};

Mac_Paste: Mac_Paste {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(V)>;
    display-name = "Mac Paste";
};

Mac_Undo: Mac_Undo {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(Z)>;
    display-name = "Mac Undo";
};

Mac_Select_All: Mac_SelAll {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(A)>;
    display-name = "Mac Select All";
};

Mac_Mission_Control: Mac_ShowAW {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(UP_ARROW)>;
    display-name = "Mac Show All Windows";
};

Mac_Snip_Tool: Mac_Snip {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LG(LS(NUMBER_4)))>;
    display-name = "Mac Screen Snip";
};

Win_Close_Program: Win_Close_Program {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LA(F4)>;
    display-name = "Windows Close";
};

Win_Settings_Menu: Win_Settings_Menu {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(I)>;
    display-name = "Windows Settings";
};

Win_Lock_PC: Win_Lock_PC {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(L)>;
    display-name = "Windows Lock";
};

Win_Tile_Left: Win_Tile_Left {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(LEFT)>;
    display-name = "Windows Tile Left";
};

Win_Tile_Up: Win_Tile_Up {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(UP_ARROW)>;
    display-name = "Windows Tile Up";
};

Win_Tile_Down: Win_Tile_Down {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(DOWN)>;
    display-name = "Windows Tile Down";
};

Win_Tile_Right: Win_Tile_Right {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(RIGHT)>;
    display-name = "Windows Tile Right";
};

Mac_Spotlight_Search: Mac_Spotlight_Search {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(SPACE)>;
    display-name = "Mac Spotlight Search";
};

Mac_Close_Program: Mac_Close_Program {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(Q)>;
    display-name = "Mac Close Program";
};

Mac_Strike_Through_Text: Mac_Strike_Through_Text {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LG(LS(X))>;
    display-name = "Mac Strikethrough Text";
};

Mac_Lock_PC: Mac_Lock_PC {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LG(Q))>;
    display-name = "Mac Lock";
};

Double_Click: Double_Click {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&mkp MB1>, <&mkp MB1>;
    display-name = "Double Click";
};

// ═══════════════════════════════════════════════════════════════
// Paired Delimiter Macros (cursor inside)
// ═══════════════════════════════════════════════════════════════

macro_quotes: macro_quotes {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp SPACE>, <&kp SQT>, <&kp SPACE>, <&kp LEFT>;
    display-name = "Single Quotes";
};

macro_dquotes: macro_dquotes {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp DQT>, <&kp SPACE>, <&kp DQT>, <&kp SPACE>, <&kp LEFT>;
    display-name = "Double Quotes";
};

macro_braces: macro_braces {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
    display-name = "Curly Braces";
};

macro_parens: macro_parens {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
    display-name = "Parentheses";
};

macro_brackets: macro_brackets {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
    display-name = "Brackets";
};

macro_angles: macro_angles {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(COMMA)>, <&kp LS(DOT)>, <&kp LEFT>;
    display-name = "Angle Brackets";
};

// Dead key characters (cancelled with SPACE)
macro_grave: macro_grave {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp GRAVE>, <&kp SPACE>;
    display-name = "Grave Accent";
};

macro_tilde: macro_tilde {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(GRAVE)>, <&kp SPACE>;
    display-name = "Tilde";
};

macro_caret: macro_caret {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp CARET>, <&kp SPACE>;
    display-name = "Caret";
};

// ═══════════════════════════════════════════════════════════════
// Programming Operator Macros
// ═══════════════════════════════════════════════════════════════

macro_arrow: macro_arrow {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp MINUS>, <&kp LS(DOT)>;
    display-name = "Arrow";
};

macro_fat_arrow: macro_fat_arrow {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp EQUAL>, <&kp LS(DOT)>;
    display-name = "Fat Arrow";
};

macro_eq: macro_eq {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp EQUAL>, <&kp EQUAL>;
    display-name = "Equals";
};

macro_neq: macro_neq {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(N1)>, <&kp EQUAL>;
    display-name = "Not Equals";
};

macro_lte: macro_lte {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(COMMA)>, <&kp EQUAL>;
    display-name = "Less or Equal";
};

macro_gte: macro_gte {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(DOT)>, <&kp EQUAL>;
    display-name = "Greater or Equal";
};

macro_and: macro_and {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(N7)>, <&kp LS(N7)>;
    display-name = "Logical AND";
};

macro_or: macro_or {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(BSLH)>, <&kp LS(BSLH)>;
    display-name = "Logical OR";
};

macro_scope: macro_scope {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(SEMI)>, <&kp LS(SEMI)>;
    display-name = "Scope";
};

macro_line_comment: macro_line_comment {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp FSLH>, <&kp FSLH>, <&kp SPACE>;
    display-name = "Line Comment";
};

macro_block_comment: macro_block_comment {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp FSLH>, <&kp LS(N8)>, <&kp SPACE>, <&kp LS(N8)>, <&kp FSLH>, <&kp LEFT>, <&kp LEFT>, <&kp LEFT>;
    display-name = "Block Comment";
};

// ═══════════════════════════════════════════════════════════════
// Excel and Macabacus Macros
// ═══════════════════════════════════════════════════════════════

// Number Format Macros
mcb_num_cycle: mcb_num_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(N1))>;
    display-name = "Number Cycle";
};

mcb_pct_cycle: mcb_pct_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(N2))>;
    display-name = "Percent Cycle";
};

mcb_mult_cycle: mcb_mult_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(N3))>;
    display-name = "Multiple Cycle";
};

mcb_date_cycle: mcb_date_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(N4))>;
    display-name = "Date Cycle";
};

mcb_binary_cycle: mcb_binary_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(Y))>;
    display-name = "Binary Cycle";
};

// Decimal Macros
mcb_inc_dec: mcb_inc_dec {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(COMMA)>;
    display-name = "Increase Decimals";
};

mcb_dec_dec: mcb_dec_dec {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(DOT)>;
    display-name = "Decrease Decimals";
};

mcb_shift_dec_left: mcb_shift_dec_left {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LA(LS(COMMA))>;
    display-name = "Shift Decimals Left";
};

mcb_shift_dec_right: mcb_shift_dec_right {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LA(LS(DOT))>;
    display-name = "Shift Decimals Right";
};

// Color Macros
mcb_blue_black: mcb_blue_black {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(SEMI)>;
    display-name = "Blue-Black Toggle";
};

mcb_color_cycle: mcb_color_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(SQT)>;
    display-name = "Color Cycle";
};

mcb_fill_cycle: mcb_fill_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(K))>;
    display-name = "Fill Cycle";
};

mcb_autocolor: mcb_autocolor {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(A))>;
    display-name = "Autocolor Selection";
};

// Alignment Macros
mcb_center_cycle: mcb_center_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(C))>;
    display-name = "Center Cycle";
};

mcb_horiz_cycle: mcb_horiz_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(H))>;
    display-name = "Horizontal Cycle";
};

mcb_vert_cycle: mcb_vert_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(V))>;
    display-name = "Vertical Cycle";
};

// Border Macros
mcb_top_border: mcb_top_border {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(LS(UP)))>;
    display-name = "Top Border";
};

mcb_bottom_border: mcb_bottom_border {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(LS(DOWN)))>;
    display-name = "Bottom Border";
};

mcb_left_border: mcb_left_border {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(LS(LEFT)))>;
    display-name = "Left Border";
};

mcb_right_border: mcb_right_border {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(LS(RIGHT)))>;
    display-name = "Right Border";
};

mcb_outside_borders: mcb_outside_borders {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(N7))>;
    display-name = "Outside Borders";
};

mcb_no_borders: mcb_no_borders {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(MINUS))>;
    display-name = "No Borders";
};

// Fill Macros
mcb_fill_right: mcb_fill_right {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(R))>;
    display-name = "Fast Fill Right";
};

mcb_fill_down: mcb_fill_down {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(D))>;
    display-name = "Fast Fill Down";
};

mcb_error_wrap: mcb_error_wrap {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(E))>;
    display-name = "Error Wrap";
};

// Formula Macros
mcb_anchor_cycle: mcb_anchor_cycle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(F2)>;
    display-name = "Anchor Formula Cycle";
};

mcb_flip_sign: mcb_flip_sign {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(N))>;
    display-name = "Flip Sign";
};

// Paste Macros
mcb_paste_numfmt: mcb_paste_numfmt {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(F))>;
    display-name = "Paste Number Format";
};

mcb_paste_exact: mcb_paste_exact {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(E))>;
    display-name = "Paste Exact";
};

// Audit Macros
mcb_pro_precedents: mcb_pro_precedents {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(LBKT))>;
    display-name = "Pro Precedents";
};

mcb_pro_dependents: mcb_pro_dependents {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(RBKT))>;
    display-name = "Pro Dependents";
};

mcb_uniformulas: mcb_uniformulas {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(Q)>;
    display-name = "Uniformulas";
};

// Print & Export Macros
mcb_smart_print: mcb_smart_print {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(LS(B)))>;
    display-name = "Smart Print Area";
};

mcb_activate_sheet: mcb_activate_sheet {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(T))>;
    display-name = "Activate Sheet";
};

// Row/Column Sizing Macros
mcb_row_height: mcb_row_height {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LA(LS(PG_UP))>;
    display-name = "Row Height Cycle";
};

mcb_col_width: mcb_col_width {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(LS(PG_UP)))>;
    display-name = "Column Width Cycle";
};

// Export Macros
mcb_export_match_both: mcb_export_match_both {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(RIGHT))>;
    display-name = "Export Match Both";
};

mcb_export_match_none: mcb_export_match_none {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(UP))>;
    display-name = "Export Match None";
};

mcb_quick_save: mcb_quick_save {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(S))>;
    display-name = "Quick Save";
};

// Sequential Keypresses (Excel Ribbon Navigation)
mcb_expand_grp: mcb_expand_grp {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <50>;
    tap-ms = <50>;
    bindings = <&kp LALT>, <&kp A>, <&kp J>;
    display-name = "Expand Column/Row";
};

mcb_collapse_grp: mcb_collapse_grp {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <50>;
    tap-ms = <50>;
    bindings = <&kp LALT>, <&kp A>, <&kp H>;
    display-name = "Collapse Column/Row";
};

mcb_super_find: mcb_super_find {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <50>;
    tap-ms = <50>;
    bindings = <&kp LALT>, <&kp X>, <&kp N>;
    display-name = "Super Find";
};

mcb_insert_note: mcb_insert_note {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LS(F2)>;
    display-name = "Insert Note";
};

// Miscellaneous macros
mcb_zoom_in: mcb_zoom_in {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(EQUAL))>;
    display-name = "Zoom In";
};

mcb_zoom_out: mcb_zoom_out {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LS(MINUS))>;
    display-name = "Zoom Out";
};

mcb_insert_row: mcb_insert_row {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LA(LS(INSERT))>;
    display-name = "Insert Row";
};

mcb_insert_col: mcb_insert_col {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(LS(INSERT)))>;
    display-name = "Insert Column";
};

mcb_delete_row: mcb_delete_row {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LA(LS(DELETE))>;
    display-name = "Delete Row";
};

mcb_delete_col: mcb_delete_col {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp LC(LA(LS(DELETE)))>;
    display-name = "Delete Column";
};

// ═══════════════════════════════════════════════════════════════
// Spanish Character Macros (US-International dead key method)
// ═══════════════════════════════════════════════════════════════

// Accented vowels using dead key method (apostrophe ' is acute dead key)
macro_a_acute: macro_a_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp A>;
    display-name = "á";
};

macro_e_acute: macro_e_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp E>;
    display-name = "é";
};

macro_i_acute: macro_i_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp I>;
    display-name = "í";
};

macro_o_acute: macro_o_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp O>;
    display-name = "ó";
};

macro_u_acute: macro_u_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SQT>, <&kp U>;
    display-name = "ú";
};

// ü using diaeresis dead key (Shift+' = " is diaeresis dead key)
macro_u_diaeresis: macro_u_diaeresis {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(SQT)>, <&kp U>;
    display-name = "ü";
};

// ñ using tilde dead key (Shift+` = ~ is tilde dead key)
macro_n_tilde: macro_n_tilde {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LS(GRAVE)>, <&kp N>;
    display-name = "ñ";
};

// Paired Spanish punctuation (cursor inside)
// macOS: Option+Shift+/ = ¿, Option+1 = ¡, Option+\ = «, Option+Shift+\ = »
macro_spanish_question: macro_spanish_question {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LA(LS(FSLH))>, <&kp LS(FSLH)>, <&kp LEFT>;
    display-name = "Spanish Question";
};

macro_spanish_exclaim: macro_spanish_exclaim {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LA(N1)>, <&kp LS(N1)>, <&kp LEFT>;
    display-name = "Spanish Exclaim";
};

macro_guillemets: macro_guillemets {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp LA(BSLH)>, <&kp LA(LS(BSLH))>, <&kp LEFT>;
    display-name = "Spanish Quotes";
};
